{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}

{% include 'includes/hero.html' %}
{% include 'includes/about_section.html' %}
{% include 'includes/why_choose_us.html' %}

<!-- Services Placeholder -->
<!-- <section class="container py-5">

    <h2 class="text-center mb-5">
        Our Services
    </h2>

    <div class="row">

        <div class="col-md-4">
            <div class="card shadow">
                <div class="card-body">
                    <h4>Individual Counselling</h4>
                    <p>Personalized counselling sessions.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow">
                <div class="card-body">
                    <h4>Marriage Counselling</h4>
                    <p>Strengthen relationships.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow">
                <div class="card-body">
                    <h4>Child Psychology</h4>
                    <p>Support for children and parents.</p>
                </div>
            </div>
        </div>

    </div>

</section> -->
{% include 'includes/services_section.html' %}
{% endblock %}