@media(max-width:991px){

    .top-bar{
        display:none;
    }

    .navbar-nav{

        text-align:center;

        padding-top:20px;

    }

    .navbar .btn{

        margin-top:15px;

    }

}