{% load static %}

<section class="about-section py-5">

    <div class="container">

        <div class="row align-items-center">

            <!-- Left Image -->
            <!-- <div class="col-lg-6 mb-4 mb-lg-0">

                <img src="{% static 'images/about.jpg' %}" class="img-fluid rounded shadow" alt="About Us">

            </div> -->

            <!-- Right Content -->
            <div class="col-lg-12">

                <span class="section-subtitle">
                    About Us
                </span>

                <h2 class="section-title">
                    Sharayu Manobal Kendra
                </h2>

                <p>
                    We provide psychological consultancy services to make professionals,studends and individual
                    efficient and to live upto their highest potential.
                </p>

                <ul class="about-list">

                    <li>✔ Confidential Consultation</li>

                    <li>✔ Experienced Guidance</li>

                    <li>✔ Child & Family Support</li>

                    <li>✔ Guidence for Working Professionals</li>

                    <li>✔ Online Sessions</li>

                </ul>

                <!-- <a href="#" class="btn btn-primary mt-3">
                    Learn More
                </a> -->

            </div>

        </div>

    </div>

</section>