{% extends 'base.html' %}

{% block title %}Contact Us{% endblock %}

{% block content %}

<div class="container py-5">

    <div class="row">

        <div class="col-lg-5">

            <h2>Contact Us</h2>

            <p>
                We'd love to hear from you.
                Please fill out the form or use the contact details below.
            </p>

            <hr>

            <p><strong>Phone:</strong> +91 8390049697</p>

            <p><strong>Email:</strong> info@sharayumanobal.com</p>

            <p><strong>Address:</strong> Pune, Maharashtra</p>

        </div>

        <div class="col-lg-7">

            <div class="card shadow">

                <div class="card-body">

                    <form method="POST">

                        {% csrf_token %}

                        {{ form.as_p }}

                        <button
                            class="btn btn-primary">

                            Send Message

                        </button>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}